@model PagedList.IPagedList<PhotoBook.Entities.User>
@using PagedList.Mvc

@{
    ViewBag.Title = "Users";
}

<div class="page-header center">
    <h1>@ViewBag.Title</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th >Login</th>
            <th >Email</th>
            <th>Photos</th>
            <th >Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.UserName == "Admin") { continue; }
        <tr>
            <td>
                @Html.DisplayFor(x => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(x => item.Photos.Count)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteUser", new { id=item.ID }, new { @class = "delete-link", @id = item.ID})
            </td>
        </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Users", new RouteValueDictionary() { { "page", page } }), PagedListRenderOptions.PageNumbersOnly)

<script type="text/javascript">
    $(document).ready(function () {
        $('a.delete-link').click(OnDeleteClick);
    });
    function OnDeleteClick(e)
    {
        var userId = e.target.id;
        var flag = confirm('You are about to delete that user permanently. Are you sure you want to delete?');
        if (flag) {
            $.ajax({
                url: '/Admin/DeleteUser',
                type: 'POST',
                data: { id: userId },
                dataType: 'json',
                success: function (result) { alert(result); $("#" + userId).parent().parent().remove(); },
                error: function () { alert('Error!'); }
            });
        }
        return false;
    }
</script>