<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("PhotoBook", "Index", "PhotoBook", null, new { @class = "navbar-brand"})
          </div>
          <div class="collapse navbar-collapse">
              @if (Request.IsAuthenticated)
              {
                  <ul class="nav navbar-nav">
                      <li>@Html.ActionLink("Albums", "UserAlbum", "PhotoBook")</li>
                      <li>@Html.ActionLink("My Photos", "Photos", "PhotoBook", new { id = (int)@Membership.GetUser().ProviderUserKey}, null)</li>
                      <li>@Html.ActionLink("Upload", "Upload", "Photo")</li>
                  </ul>
            @*@Html.Partial("~/Views/Shared/_SearchBar.cshtml")*@
              @*<ul class="nav navbar-nav">
                <li>@Html.ActionLink("Вход", "LogOn", "Account")</li>
                 <li>@Html.ActionLink("Регистрация", "Register", "Account")</li>
            </ul>*@
                  <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Action("Manage", "Account")">
                            @User.Identity.Name&nbsp;<span class="glyphicon glyphicon-pencil" style="font-size:12pt;" />
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("LogOff", "Account")">
                            Log off&nbsp;<span class="glyphicon glyphicon-log-out" style="font-size:12pt;"/>
                        </a>
                    </li>
                </ul>
              } else {
                  <ul class="nav navbar-nav">
                      <li>@Html.ActionLink("Albums", "UserAlbum", "PhotoBook")</li>
                  </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Action("Register", "Account")">
                            Register&nbsp;<span class="glyphicon glyphicon-check" style="font-size:12pt;"/>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Login", "Account")">
                            Log in&nbsp;<span class="glyphicon glyphicon-log-in" style="font-size:12pt;"/>
                        </a>
                    </li>
                </ul>
            }
          </div><!--/.nav-collapse -->
        </div>
</div>