@model PhotoBook.Entities.Photo

@{
    ViewBag.Title = "Details";
}

<div class="col-md-6">
    <div class="thumbnail">
        <img src="@Url.Content(String.Concat("~/_uploads/", Model.Filename))" alt="@Model.Description" />
    </div>
</div>
<div class="col-md-6" style="margin-top: 10px;">
    <div class="thumbnail">
        <h4><b>Description</b></h4>
        @if (!String.IsNullOrEmpty(Model.Description))
        {
            <p>@Html.DisplayFor(x => x.Description)</p>
        }
        else
        {
            <p><i>None</i></p>
        }
    </div>
    <div class="thumbnail">
        <h4><b>Tags</b></h4>
        @if (Model.Tags.Count > 0)
        {
            <p><em>@Html.Raw(String.Join(", ", Model.Tags.Select(tag => @Html.ActionLink(tag.Name, "Index", "Tag", new { id = tag.ID}, null).ToHtmlString()).ToArray()))</em></p>
        }
        else
        {
            <p><i>None</i></p>
        }
    </div>
    @if (Model.UserID == WebSecurity.CurrentUserId)
    {
        <div>
            @Html.ActionLink("Edit", "Edit", "Photo", new { id = Model.ID }, new { @class="btn btn-primary", role="button"})
            @Html.ActionLink("Delete", "Delete", "Photo", new { id = Model.ID }, new { @class="btn btn-primary", role="button"})
        </div>
    }
</div>